/* Stylesheet for Blackjack Game */

/* WARNING! The img tag that is a standard and widely used tag has rules set in blackjack.css */

        #blackjack {
            width: auto;
            height: auto;
            background-color:green;
            margin: 0% 0%;
            padding-left: 20px;
            padding-bottom: 57px;
            visibility:visible;
            overflow: auto;
        }

        button {
            font-size: 10px;
            width: 80px;
            height: 25px;
            background-color: black;
            color: white;
            position: relative;
            left:0px;
        }

 
        img{
            margin-right:1%;
            margin-left:1%;
        }


    .Dealer{
        margin-left:20px;
        font-size: 24px;
        font-family: Arial;
        color: black;
        padding-top: 20px;
        padding-bottom: 10px;

    }


    .Player{
        margin-left:20px;
        font-size: 24px;
        font-family: Arial;
        color: black;
        
    }

    #result {
        top: 405px;
            margin-left: 160px;
            font-size: 130%;
            font-family: Arial;
            color: white;
            position: absolute;
      
        }
        
    .dealButton {
        padding:100px;
        top:250px;
        right: 1%;
        background: transparent url('images/dealbutton.png') no-repeat;
        position:absolute;
    }

    .hitButton {
        padding:100px;
        top: 310px;
        right: 1%;
        background: transparent url('images/hitbutton.png') no-repeat;
        position:absolute;
    }

    .standButton {
        padding:100px;
        top: 370px;
        right: 1%;
        background: transparent url('images/standbutton.png') no-repeat;
        position:absolute;
    }

