

        #blackjack {
            width: auto;
            height: auto;
            background-color:green;
            margin: 0% 0%;
            padding-left: 20px;
            padding-bottom: 57px;
            visibility:visible;
            overflow: auto;
        }

        button {
            font-size: 10px;
            width: 80px;
            height: 25px;
            background-color: black;
            color: white;
            position: relative;
            left:0px;
        }


        img{
            margin-right:1%;
            margin-left:1%;
        }


        .Player{
            margin-left:2%;
            font-size: 130%;
            font-family: Arial;
            font-weight: regular;
            color: black;
            padding-top: 20px;
            padding-bottom: 10px;
            //border-bottom-width:2em;
        }

        #result {
            margin-left: 15%;
            top: 415px;
            font-size: 130%;
            font-family: Arial;
            color: white;
            position: absolute;
        }
        
        .dealButton {
            padding:100px;
            top:250px;
            right: 1%;
            background: transparent url('images/dealbutton.png') no-repeat;
            position:absolute;
        }

        .hitButton {
            padding:100px;
            top: 310px;
            right: 1%;
            background: transparent url('images/hitbutton.png') no-repeat;
            position:absolute;
        }

        .standButton {
            padding:100px;
            top: 370px;
            right: 1%;
            background: transparent url('images/standbutton.png') no-repeat;
            position:absolute;
        }

