/* Stylesheet for the main menu, header and footer */

/* WARNING! The img tag that is a standard and widely used tag has rules set in blackjack.css */


header{
    padding-top: 3%;
    padding-bottom: 1%;
    background: url(images/conquian.png);
}

.company {
    text-align: center;
    display: block;
    text-decoration: none;
    font-size: 70px;
    font-family: times;
    color: white;
}

.signout {
    text-align: right;
    display: block;
    text-decoration: none;
    font-size: 16px;
    font-family: arial;
    color: black;
}


footer{
    font-family:arial;
    font-size: 12px;
    color: black;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
    display: block;
    background-color: white;
}

#fbox1 {
    width: 50px;
    display: inline-block;
    vertical-align: middle;
    padding: 20px;
}


.conquianGraphic {
    height: 250px;
    width: 250px;
    padding-top: 60px;
    padding-right: 70px;
    padding-bottom: 20px;
}

.blackjackGraphic {
    height: 250px;
    width: 250px;
    padding-bottom: 20px;

}

.conquianButton {
    padding-right: 125px;

}

.blackjackButton {
    padding-top: 20px;
}

#mainpage {
    background-color:#e6e6e6;
    padding-bottom: 90px;
}


img.imgIcons {
    height:40px;
    width:40px;
    vertical-align: middle;
    position:relative;
    padding-right: 15px;
    margin-left:0%;
    marging-right:0%;
}


